version: "3"

services:
  
  postgres:
    image: postgres
    container_name: ph_postgres
    ports:
      - "5432:5432"
    networks:
      - backend
    environment:
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=printer_hub_dev

  postgres_admin:
    image: thajeztah/pgadmin4
    container_name: ph_postgres_admin
    ports:
      - "5050:5050"
    networks:
      - backend
    links:
      - postgres

networks:
  backend: